# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# Python
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env
.env.local
postgres.env

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker (solo si quieres ignorar logs locales etc.)
docker-compose.override.yml
